/* Blog */
.blog-post{
	@include add-border(1px,#cccc ,right-left);
	@include add-border(1px,#cccccccc ,top);
	padding: 15px;
	h2.page-header{
		margin-top: 5px !important;
	}

}
.blog-feature{
	float: left;
	margin-right: 15px;
}
.post-meta{
	margin-bottom: 20px;
	padding: 10px;
	@include add-border(1px,#cccccc,all);
	background: #f2f2f2;

}

